$theme-name: 'core';

// base colors
$primary-color: #000000;
$primary-color-dark: #2f2f2f;
$primary-color-darker: #d89400;
$secondary-color: #b79043;
$secondary-color-dark: #b79043;
$tertiary-color: #ffaa07;
$danger-color: #f13662;
$blue-color: #3ab9fe;

$text-color: #333;
$link-color: $primary-color;

$gradient-color-1: $primary-color;
$gradient-color-2: #6b6a6b;

// main
$main-background-color: #fff;
$main-font-family: 'Raleway', sans-serif;

// header
$header-background-color: $primary-color;
$header-logo-width: 180px;
$header-logo-height: 26px;

// header menu
$header-menu-icon-color: $secondary-color;
$header-menu-text-color: #fff;

// daily quota
$daily-quota-background: $primary-color-darker;
$daily-quota-progress: $secondary-color;

// footer
$footer-background-color: $primary-color;
$footer-logo-width: 160px;
$footer-logo-height: 23px;
$footer-text-color: #fff;

// separator
$separator-color: #e4e4e4;

// social icons
$social-icons-background-color: #fff;
$social-icons-icon-color: $secondary-color;

// logo
$logo-image: $base-images-path + '/themes/' + $theme-name + '/logos/arianee.png';
$logo-image-text: $base-images-path + '/themes/' + $theme-name + '/logos/logo.svg';

// home logo
$home-logo-image: $base-images-path + '/themes/' + $theme-name + '/logos/aria.svg';
$home-logo-image-modal: $base-images-path + '/themes/' + $theme-name + '/logos/aria-modal.svg';
$home-logo-width: 52px;
$home-logo-height: 16px;

// foreign logo
$foreign-logo-image: $base-images-path + '/themes/' + $theme-name + '/logos/aria20.svg';
$foreign-logo-image-modal: $base-images-path + '/themes/' + $theme-name + '/logos/aria20-modal.svg';
$foreign-logo-width: 54px;
$foreign-logo-height: 30px;

// buttons
$button-background-color: $secondary-color;
$button-text-color: #fff;

$button-background-color-2: $tertiary-color;
$button-text-color-2: #fff;

$button-background-color-3: $secondary-color-dark;
$button-text-color-3: #fff;

$button-background-color-4: $primary-color;
$button-text-color-4: #fff;

$button-bordered-background-color: #fff;
$button-bordered-text-color: $primary-color;
$button-bordered-border-color: $primary-color;

// modals
$modal-background-color: #fff;
$modal-overlay-background-color: rgba($primary-color-dark, 0.8);
$modal-title-color: $primary-color;
$modal-text-color: $text-color;
$modal-link-color: $primary-color;

// mobile menu
$mobile-menu-background-color: rgba($primary-color-dark, 0.9);
$mobile-menu-overlay-color: rgba($primary-color-dark, 0.8);

// loading
$loading-item-background-color: $secondary-color;
$loading-item-text-color: #fff;
$loading-logo: $base-images-path + '/themes/' + $theme-name + '/logos/logo-loading.svg';

// bridge section
$bridge-gradient-start: $gradient-color-1;
$bridge-gradient-end: $gradient-color-2;
$bridge-logo-background-color: $primary-color;
$bridge-link-color: $secondary-color;
$bridge-balance-color: $secondary-color;
$bridge-button-background-color: $button-background-color;
$bridge-button-text-color: $button-text-color;
$bridge-textfield-background: rgba(251, 251, 252, 0.2);
$bridge-input-label-color: #fff;
$bridge-label-color: #fff;
$bridge-textfield-color: #fff;
$bridge-textfield-placeholder-color: rgba(255, 255, 255, 0.7);
$bridge-side-image-width: 272px;
$bridge-side-image-height: 276px;
$bridge-image-center-pointing-left: $base-images-path + '/themes/' + $theme-name + '/bridge/center-image-pointing-left.svg';
$bridge-image-center-pointing-right: $base-images-path + '/themes/' + $theme-name + '/bridge/center-image-pointing-right.svg';
$bridge-image-center-pointing-down: $base-images-path + '/themes/' + $theme-name + '/bridge/center-image-pointing-down@2x.png';
$bridge-transfer-title-color: $primary-color;

// bridge alert
$alert-logo-box-background-color: $primary-color;

// copy icon
$copy-icon-color: $primary-color;

// status section
$status-text-color: $text-color;
$status-authority-number-color: $secondary-color;
$status-authority-address-color: $text-color;

$status-authority-logo-0: $base-images-path + '/themes/' + $theme-name + '/status/authority/logo-0.svg';
$status-authority-logo-1: $base-images-path + '/themes/' + $theme-name + '/status/authority/logo-1.svg';
$status-authority-logo-2: $base-images-path + '/themes/' + $theme-name + '/status/authority/logo-2.svg';

// datablock
$datablock-value-color: $secondary-color;
$datablock-type-color: $secondary-color;
$datablock-text-color: $text-color;

// statistics
$statistics-title-color: $text-color;

// events
$events-title-color: $text-color;
$events-filter-color: $text-color;
$events-select-color: $text-color;
$events-column-title-color: $text-color;
$events-recipient-label-color: $text-color;
$events-value-color: $text-color;
$events-block-color: $text-color;